[Unit]
Description=Equalizer
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/new_shair.py
User=pi
WorkingDirectory=/home/pi/equalizer/
Restart=on-failure

[Install]
WantedBy=multi-user.target